/* App.css */

/* Selection styles */
::selection {
  background: red;
}

::-moz-selection {
  background: red;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e73c7e),
    to(#23a6d5)
  );
  background: linear-gradient(#e73c7e, #23a6d5);
}

/* Background gradient animation */
body {
  background-color: #ddd;
  text-align: center;
  margin: 0;
  padding: 25px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Additional styles for other elements in your app */
.container {
  padding: 10px;
}

.gif-container {
  margin-bottom: 1rem;
}

.text-4xl {
  font-size: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* Style for buttons */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.yes-button {
  background-color: #4caf50;
  color: #fff;
}

.yes-button:hover {
  background-color: #388e3c;
}

.no-button {
  background-color: #f44336;
  color: #fff;
}

.no-button:hover {
  background-color: #d32f2f;
}

/* Emoji styles for Yes button */
.yes-button::after {
  content: ' 😍'; /* Sexy eyes emoji */
}

/* Emoji styles for No button */
.no-button::after {
  content: ' 😢'; /* Sad emoji */
}

/* Add space between buttons */
.btn-container > div {
  width: 10px;
}
